@import "@styles/variables";

.searchDropdown {
  z-index: 999;
  position: absolute;
  top: calc(100% + 4px);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 2px solid $borderColor;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;

  &Empty {
    font-size: 28px;
    font-weight: 600;
    color: rgba($borderColor, 0.7);
    margin: 32px auto;
  }
}
