@import "@styles/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: linear-gradient(45deg, #8d99ae, #edf2f4);
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
  padding-block: 5%;
  height: 100%;
}
