@import "@styles/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}
body {
  display: flex;
  height: 100vh;
}

#root {
  flex-grow: 1;
}

body {
  background: linear-gradient(45deg, #8d99ae, #edf2f4);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
  padding-block: 5%;
  height: 100%;
}
