$containerWidth: 1080px;
$borderColor: #2b2d42;

$buttonPrimaryColor: #2b2d42;
$buttonPrimaryColorHover: #202231;
$buttonSecondaryColor: #99d98c;
$buttonSecondaryColorHover: #76c893;
$buttonErrorColor: #af0000;
$buttonErrorColorHover: #ce0000;
