$containerWidth: 1080px;
$borderColor: #2b2d42;

$buttonPrimaryColor: #2b2d42;
$buttonPrimaryColorHover: #202231;
$buttonSecondaryColor: #ef233c;
$buttonSecondaryColorHover: #b81c2e;
$buttonErrorColor: #af0000;
$buttonErrorColorHover: #ce0000;
