@import "@styles/variables";

.layout {
  height: 100%;
  border: 2px solid $borderColor;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 16px 32px 32px;
}
