.userAvatarIndex {
  position: relative;

  &Button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 32px;
    height: 32px;
    padding: 0 !important;
    border-radius: 50% !important;
    background-color: #ffffff;
    border: none !important;

    @media screen and (min-width: 766px) {
      &:hover {
        background-color: #c2c2c2;
      }
    }
    &:active {
      background-color: #afafaf;
    }
  }

  svg {
    width: 32px;
    height: 32px;
    color: transparent;
    border-width: 0;
  }
}
