@import "@styles/variables";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;

  &Title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }

  &Inner {
    display: flex;
    flex-grow: 1;
  }

  &User {
    margin: auto 0;
  }

  &Controls {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: space-between;
  }

  &Rules {
    flex-grow: 2;
  }
}
