.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(196, 196, 196, 0.5);
}

.modal {
  animation: modalPopUp 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: white;
  padding: 8px;
  padding-top: 32px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  &Exit {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: background-color ease-in-out 200ms;

    svg {
      width: 28px;
      height: 28px;
    }

    @media screen and (min-width: 766px) {
      &:hover {
        background-color: #ccd1d3;
      }
    }

    &:active {
      background-color: #ccd1d3;
    }
  }
}

@keyframes modalPopUp {
  0% {
    transform: translate(-50%, -45%);
    opacity: 0.3;
  }
  100% {
    top: translate(-50%, -50%);
    opacity: 1;
  }
}
