@import "@styles/variables";

.timer {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: $borderColor;
  border-width: 2px;
  font-size: 32px;
  font-weight: 600;
  background-color: #edf2f4;
  border: 2px solid $borderColor;
  border-radius: 8px;
  padding: 8px;
  transition: border-color 200ms ease-in-out;
}

.paused {
  border-color: $buttonErrorColor;
}

.loading {
  background-color: #ededed;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
  animation-delay: 150ms;
  color: transparent;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
