@import "@styles/variables";

.packsBody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
  position: relative;

  &Empty {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: $borderColor;
    font-weight: 600;
    opacity: 0.3;
  }

  a {
    text-decoration: none;
  }
}
