@import "@styles/variables";

.header {
  display: grid;
  grid-template-columns: auto 1fr 250px;
  gap: 4px;
  height: 55px;

  &Return {
    background-color: #edf2f4;
    color: $borderColor;
    border-width: 2px;
    font-size: 32px;
    font-weight: 600;
    gap: 2px;

    @media screen and (min-width: 766px) {
      &:hover {
        background-color: #ccd1d3;
      }
    }

    &:active {
      background-color: #ccd1d3;
    }
  }

  &SearchBar {
    position: relative;
  }

  &Save {
    font-size: 32px;
    font-weight: 600;
    color: $borderColor;
    background-color: $buttonSecondaryColor;

    @media screen and (min-width: 766px) {
      &:hover {
        background-color: $buttonSecondaryColorHover;
      }
    }
  }
}
