@import "@styles/variables";

.packs {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &Title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    border-bottom: 1px solid $borderColor;
    margin-bottom: 4px;
    color: $borderColor;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &SearchButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1;

    @media screen and (min-width: 766px) {
      &:hover {
        background-color: rgba(#afaeae, 0.7);
      }
    }

    &:active {
      background-color: rgba(#afaeae, 0.7);
    }

    svg {
      color: transparent;
    }
  }

  &SearchBar {
    position: absolute;
    inset: 0;
    animation: open 300ms linear;

    input {
      background-color: #ffffff;
    }

    svg {
      display: none;
    }
  }

  &List {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;

    h4 {
      font-size: 16px;
    }

    > div {
      transition: transform 200ms linear, box-shadow 200ms linear;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  &Voting &Title {
    color: $buttonErrorColor;
  }

  &Voting &List {
    > div {
      cursor: pointer;
      &:hover {
        transform: translateY(1px) perspective(400px) rotateX(2deg);
        box-shadow: rgba(99, 99, 99, 1) 0px 2px 8px 0px;
      }

      aside {
        pointer-events: none;
      }
    }
  }
}

@keyframes open {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(100%);
  }
}

.loading {
  height: 100%;
  overflow: visible;
}

.loadingTitle {
  background-color: #ededed;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loadingTitle ease-in-out infinite;
  animation-delay: 150ms;
  color: transparent;
  height: 32px;
  width: 150px;
  border-radius: 8px;
}

@keyframes loadingTitle {
  to {
    background-position-x: -20%;
  }
}

.loadingCircle {
  position: absolute;
  display: block;
  width: 128px;
  height: 128px;
  color: $borderColor;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:after {
    content: " ";
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 3.2px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: loadingCircle 1.2s linear infinite;
  }
}
@keyframes loadingCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
