@import "@styles/variables";

.packs {
  width: 100%;
  overflow-y: auto;

  &Title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    border-bottom: 1px solid $borderColor;
    margin-bottom: 4px;
    color: $borderColor;
    position: relative;
  }

  &SearchButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1;

    @media screen and (min-width: 766px) {
      &:hover {
        background-color: rgba(#afaeae, 0.7);
      }
    }

    &:active {
      background-color: rgba(#afaeae, 0.7);
    }

    svg {
      color: transparent;
    }
  }

  &SearchBar {
    position: absolute;
    inset: 0;
    animation: open 300ms linear;

    input {
      background-color: #ffffff;
    }

    svg {
      display: none;
    }
  }

  &List {
    margin-left: 8px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 215px;

    h4 {
      font-size: 16px;
    }
  }
}

@keyframes open {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(100%);
  }
}
