@import "@styles/variables";

.pack {
  display: flex;
  flex-direction: column;
  height: 100%;

  &Settings {
    margin-bottom: 4px;
  }

  &Inner {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 55px auto;

    align-items: start;
    grid-template-areas:
      "header info"
      "list info";
    gap: 8px;
    overflow: hidden;
  }

  &Header {
    grid-area: header;
  }

  &Body {
    grid-area: list;
    overflow-y: auto;
    height: 100%;
  }

  &Info {
    grid-area: info;
  }
}
