@import "@styles/variables";

.pack {
  &Settings {
    margin-bottom: 4px;
  }

  &Inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &Body {
    display: grid;
  }
}
